body {
  background-color: #60d9f1;
}
/*.results{
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  padding: 100px;
  margin: 10px;
}
*/
#aname{
  margin: 10px;
  padding: 5px;

}
#iname{
  margin: 10px;
  padding: 5px;

}
#cname{
  margin: 10px;
  padding: 5px;
}

.boxes{
  border: 5px solid black;
}
